{% if 'bonds' in config %}
{% for key, bond in config.bonds|dictsort %}
auto {{ key }}
iface {{ key }}
    alias {{ bond.alias_name|default(key) }}
{% if bond.address is defined %}
    address {{ bond.address }}
{% endif %}
{% if bond.bridge_vids is defined %}
    bridge-vids {{ bond.bridge_vids|join(' ') }}
{% endif %}
{% if bond.bridge_pvid is defined %}
    bridge-pvid {{ bond.bridge_pvid }}
{% endif %}
{% if bond.bridge_allow_untagged is defined %}
    bridge-allow-untagged {{ bond.bridge_allow_untagged }}
{% endif %}
{% if bond.bridge_access is defined %}
    bridge-access {{ bond.bridge_access }}
{% endif %}
{% if bond.mstpctl_portadminedge is defined %}
    mstpctl-portadminedge {{ bond.mstpctl_portadminedge }}
{% endif %}
{% if bond.mstpctl_bpduguard is defined %}
    mstpctl-bpduguard {{ bond.mstpctl_bpduguard }}
{% endif %}
{% if bond.mstpctl_portnetwork is defined %}
    mstpctl-portnetwork {{ bond.mstpctl_portnetwork }}
{% endif %}
{% if bond.mstpctl_bpdufilter is defined %}
    mstpctl-bpdufilter {{ bond.mstpctl_bpdufilter }}
{% endif %}
    bond-slaves {{ bond.slaves|join(' ') }}
{% if bond.clag_id is defined %}
    clag-id {{ bond.clag_id }}
{% endif %}
{% if bond.mtu is defined %}
    mtu {{ bond.mtu }}
{% endif %}
    bond-miimon 100
    bond-lacp-rate 1
    bond-min-links 1
    bond-mode 802.3ad
    bond-xmit-hash-policy layer3+4

{% endfor %}
{% endif %}
