{% for key, bridge in config.bridges.iteritems() %}
auto {{ key }}
iface {{ key }}
    alias {{ bridge.alias_name }}
{% if bridge.address is defined %}
    address {{ bridge.address }}
{% endif %}
    bridge-ports {{ bridge.ports|join(' ') }}
    bridge-vlan-aware {{ bridge.vlan_aware|default('yes') }}
{% if bridge.bridge_pvid is defined %}
    bridge-pvid {{ bridge.bridge_pvid }}
{% endif %}
{% if bridge.bridge_vids is defined %}
    bridge-vids {{ bridge.bridge_vids|join(' ') }}
{% endif %}
    bridge-stp {{ bridge.stp|default('yes') }}
{% if bridge.mstpctl_treeprio is defined %}
    mstpctl-treeprio {{ bridge.mstpctl_treeprio }}
{% endif %}

{% endfor %}
