{% if 'bridges' in config %}
{% for key, bridge in config.bridges|dictsort %}
auto {{ key }}
iface {{ key }}
    alias {{ bridge.alias_name }}
{% if bridge.address is defined %}
    address {{ bridge.address }}
{% endif %}
    bridge-ports {{ bridge.ports|join(' ') }}
    bridge-vlan-aware {{ bridge.vlan_aware|default('yes') }}
{% if bridge.bridge_pvid is defined %}
    bridge-pvid {{ bridge.bridge_pvid }}
{% endif %}
{% if bridge.bridge_vids is defined %}
    bridge-vids {{ bridge.bridge_vids|join(' ') }}
{% endif %}
    bridge-stp {{ bridge.stp|default('on') }}
{% if bridge.mstpctl_treeprio is defined %}
    mstpctl-treeprio {{ bridge.mstpctl_treeprio }}
{% endif %}
{% if bridge.bridge_mcsnoop is defined %}
    bridge-mcsnoop {{ bridge.bridge_mcsnoop|default('1') }}
{% endif %}
{% if bridge.bridge_mcquerier is defined %}
    bridge-mcquerier {{ bridge.bridge_mcquerier|default('1') }}
{% endif %}

{% if bridge.igmp is defined %}
{% for item in bridge.igmp %}
auto {{ key }}.{{ item.vlan }}
vlan {{ key }}.{{ item.vlan }}
    bridge-igmp-querier-src {{ item.querier_src }}
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}
