{% for key, iface in config.interfaces.iteritems() %}
auto {{ key }}
iface {{ key }} {%- if iface.addr_method is defined %}
 inet {{ iface.addr_method }}
{%- endif %}

{% if iface.address is defined %}
    address {{ iface.address }}
{% endif %}
    alias {{ iface.alias_name }}
{% if '.' not in key %} {# The default values here are defaults all interfaces have #}
    mstpctl-portadminedge {{ iface.mstpctl_portadminedge|default('no') }}
    mstpctl-bpduguard {{ iface.mstpctl_bpduguard|default('no') }}
    mstpctl-portnetwork {{ iface.mstpctl_portnetwork|default('no') }}
    mstpctl-portbpdufilter {{ iface.mstpctl_bpdufilter|default('no') }}
{% endif %}
{% if iface.bridge_pvid is defined %}
    bridge-pvid {{ iface.bridge_pvid }}
{% endif %}
{% if iface.bridge_vids is defined %}
    bridge-vids {{ iface.bridge_vids|join(' ') }}
{% endif %}
{% if iface.bridge_allow_untagged is defined %}
    bridge-allow-untagged {{ iface.bridge_allow_untagged }}
{% endif %}
{% if iface.bridge_access is defined %}
    bridge-access {{ iface.bridge_access }}
{% endif %}
{% if iface.clagd_enable is defined %}
    clagd-enable yes
    clagd-peer-ip {{ iface.clagd_peer_ip }}
    clagd-backup-ip {{ iface.clagd_backup_ip }}
    clagd-sys-mac {{ iface.clagd_sys_mac }}
    clagd_priority {{ iface.clagd_priority }}
{% if iface.clagd_args is defined %}
    clagd-args {{ iface.clagd_args }}
{% endif %}
{% endif %}
{% if iface.link is defined %}
{% for link_item, link_value in iface.link.iteritems() %}
    link-{{ link_item }} {{ link_value }}
{% endfor %}
{% endif %}

{% endfor %}
