{% if 'interfaces' in config %}
{% for key, iface in config.interfaces|dictsort %}
auto {{ key }}
iface {{ key }} {%- if iface.addr_method is defined %}
 inet {{ iface.addr_method }}
{%- endif %}

{% if iface.address is defined %}
    address {{ iface.address }}
{% endif %}
{% if iface.gateway is defined %}
    gateway {{ iface.gateway }}
{% endif %}
    alias {{ iface.alias_name|default(key) }}
{% if iface.bridge_pvid is defined %}
    bridge-pvid {{ iface.bridge_pvid }}
{% endif %}
{% if iface.bridge_vids is defined %}
    bridge-vids {{ iface.bridge_vids|join(' ') }}
{% endif %}
{% if iface.bridge_allow_untagged is defined %}
    bridge-allow-untagged {{ iface.bridge_allow_untagged }}
{% endif %}
{% if iface.bridge_access is defined %}
    bridge-access {{ iface.bridge_access }}
{% endif %}
{% if iface.mstpctl_portadminedge is defined %}
    mstpctl-portadminedge {{ iface.mstpctl_portadminedge }}
{% endif %}
{% if iface.mstpctl_bpduguard is defined %}
    mstpctl-bpduguard {{ iface.mstpctl_bpduguard }}
{% endif %}
{% if iface.mstpctl_portnetwork is defined %}
    mstpctl-portnetwork {{ iface.mstpctl_portnetwork }}
{% endif %}
{% if iface.mstpctl_bpdufilter is defined %}
    mstpctl-bpdufilter {{ iface.mstpctl_bpdufilter }}
{% endif %}
{% if iface.clagd_enable is defined %}
    clagd-enable yes
    clagd-peer-ip {{ iface.clagd_peer_ip }}
    clagd-backup-ip {{ iface.clagd_backup_ip }}
    clagd-sys-mac {{ iface.clagd_sys_mac }}
    clagd-priority {{ iface.clagd_priority }}
{% if iface.clagd_args is defined %}
    clagd-args {{ iface.clagd_args }}
{% endif %}
{% endif %}
{% if iface.link is defined %}
{% for link_item, link_value in iface.link|dictsort %}
    link-{{ link_item }} {{ link_value }}
{% endfor %}
{% endif %}
{% if iface.mtu is defined %}
    mtu {{ iface.mtu }}
{% endif %}

{% endfor %}
{% endif %}
